<!-- ko with: home -->
<div class="jumbotron">
    <h1>Sales Assistant</h1>
    <p class="lead">Choose a sales agent based on your location.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Fiachra</h2>
        <img src="~/Content/Images/Fiachra_3d.jpg" style="width: 315px;" />
        <p style="font-size: 23px;margin-top: 20px;">Auckland Toyota - Grey Lynn</p>
        <p><a class="btn btn-default" href="@Url.Action("Sales", "Home")">Start Chat&raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Fransisco</h2>
        <img src="~/Content/Images/fransisco_3d.jpg" style="width: 315px;" />
        <p style="font-size: 23px;margin-top: 20px;">Auckland Toyota - Fransisco</p>
        <p><a class="btn btn-default" href="@Url.Action("Sales", "Home")">Start Chat&raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Sandra</h2>
        <img src="~/Content/Images/sandra_3d.jpg" style="width: 315px;" />
        <p style="font-size: 23px;margin-top: 20px;">Auckland Toyota - Sandra </p>
        <p><a class="btn btn-default" href="@Url.Action("Sales", "Home")">Stat Chat&raquo;</a></p>
    </div>
</div>

<!-- /ko -->
