@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 bot-container">
    <video width="400" class="main-video-area" id="frame_4">
        <source autoplay src="~/Content/Video/frame_4.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_6">
        <source src="~/Content/Video/frame_6.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_81">
        <source src="~/Content/Video/frame_8.1.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_82">
        <source src="~/Content/Video/frame_8.2.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_9">
        <source src="~/Content/Video/frame_9.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_101">
        <source src="~/Content/Video/frame_10.1.mp4" type="video/mp4" />
    </video>
    <video width="400" style="display:none" class="main-video-area" id="frame_102">
        <source src="~/Content/Video/frame_10.2.mp4" type="video/mp4" />
    </video>
    <span id="h2subTitle" class="h2subTitleSpan">Of Course, take a look at the list of Hatchbacks availables below</span>
    <img src="/Content/Images/Avatar girl.png" class="avatar">
    <img src="/Content/Images/voiceRecognition.gif" class="voice-icon">
    <textarea id="h2ClientAnswer" class="text-area-voice">Can you show me some 5 Door Hatchbacks?</textarea>
</div>
<div style="clear:both"></div>
<img src="~/Content/Images/loader-toyota.gif" class="carsLoading" style="display:none" />
<img src="~/Content/Images/selected-toyota.png" class="toyota-blade" style="display:none;" />
<img src="~/Content/Images/your-location.png" class="your-location" style="display:none;" />
<img src="~/Content/Images/Test-drive-Confirmation.png" class="test-confirmation" style="display:none" />
<div class="row carsContent" style="margin-top: 40%; display:none">
    <div class="col-md-3">
        <img src="/Content/Images/Cars/0-Toyota-YARIS-thumbnail.jpg">
    </div>
    <div class="col-md-3 candidate-car">
        <img src="/Content/Images/Cars/toyota blade.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/39049-3-toy.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/another car.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/another2.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/best-back-to-school-toyota-cars-for-college-students-2017-18.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/images.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/Toyota-Camry-RZ-driving-highway.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/0-Toyota-YARIS-thumbnail.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/toyota blade.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/39049-3-toy.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/another car.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/another2.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/best-back-to-school-toyota-cars-for-college-students-2017-18.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/images.jpg">
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/Cars/Toyota-Camry-RZ-driving-highway.jpg">
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#h2subTitle').text('');
        $('#h2ClientAnswer').text('');
        var $scrollingDiv = $("#jumbotron");

        $(window).scroll(function () {
            if ($(window).scrollTop() > 220) {
                $scrollingDiv
                    .css("position", 'fixed')
                    .css("top", '46px')
            } else {
                $scrollingDiv
                    .css("position", '')
                    .css("top", '')
            }
        });
    });

    document.onkeydown = function (e) {
        e = e || window.event;
        var key = e.which || e.keyCode;
        if (key === 32) {
            triggerFlow();
        }
    }

    function triggerFlow() {
        setTimeout(function () {
            $('#frame_4')[0].play();
            //$('video').trigger('pause');
            $('#h2subTitle').text('Hi Girisha, ');
        }, 1000);

        setTimeout(function () {
            $('#h2subTitle').text('Hi Girisha, what can I do for you today?');
        }, 1500);

        setTimeout(function () {
            $('#h2ClientAnswer').text("Hi ");
        }, 3500);

        setTimeout(function () {
            $('#h2ClientAnswer').text("Hi, I’m looking for a 5 door Hatchback car.");
        }, 5500);

        setTimeout(function () {
            $('#h2subTitle').text("");
            $('#h2ClientAnswer').text("");
        }, 6500);

        setTimeout(function () {
            $('#frame_4').hide();
            $('#frame_6').show();
            $('#frame_6')[0].play();
            $('#h2subTitle').text("Of Course, ");
        }, 7500);

        setTimeout(function () {
            $('#h2subTitle').text("Of Course, take a look at the list of");
        }, 8500);

        setTimeout(function () {
            $('#h2subTitle').text("Hatchbacks availables below.");
        }, 9000);

        setTimeout(function () {
            $('#h2subTitle').text("");
            $('#h2ClientAnswer').text("");
            $('.carsLoading').show();
            $('#h2subTitle').text("");
            $('#h2ClientAnswer').text("");
        }, 10500);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('.carsContent').show();
        }, 12000);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('#h2ClientAnswer').text("Oh, that’s great, ");
        }, 13500);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('#h2ClientAnswer').text("Oh, that’s great, can I take a closer look to the toyota blade ?");
        }, 15000);

        setTimeout(function () {
            $('#h2subTitle').text("");
            $('#h2ClientAnswer').text("");
            $('.candidate-car').addClass("selected-car");
        }, 16500);

        setTimeout(function () {
            $('.carsContent').hide();
            $('.carsLoading').show();
        }, 18000);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('.toyota-blade').show();
        }, 19000);

        setTimeout(function () {
            $('#h2ClientAnswer').text("Great!");
        }, 21500);

        setTimeout(function () {
            $('#frame_6').hide();
            $('#frame_81').show();
            $('#frame_81')[0].play();
            $('#h2subTitle').text("Do you want me to book");
        }, 23500);

        setTimeout(function () {
            $('#h2subTitle').text("a test drive close to your place ?");
        }, 24500);

        setTimeout(function () {
            $('#h2subTitle').text("I can be available myself in person");
        }, 26500);

        setTimeout(function () {
            $('#h2subTitle').text("Or assign you another assistant.");
        }, 27500);

        setTimeout(function () {
            $('#h2ClientAnswer').text("That’d be great.");
        }, 29000);

        setTimeout(function () {
            $('#frame_81').hide();
            $('#frame_82').show();
            $('#frame_82')[0].play();
            $('#h2subTitle').text("What time and date best suits you?");
        }, 30500);

        setTimeout(function () {
            $('#h2ClientAnswer').text("What about saturday 10 am?.");
        }, 32500);

        setTimeout(function () {
            $('#frame_82').hide();
            $('#frame_82').show();
            $('#frame_9')[0].play();
            $('#h2subTitle').text("Sure, let me see what I can do?");
        }, 34500);

        setTimeout(function () {
            $('.toyota-blade').hide();
            $('.carsLoading').show();
        }, 35500);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('.your-location').show();
        }, 37000);

        setTimeout(function () {
            $('#frame_9').hide();
            $('#frame_101').show();
            $('#frame_101')[0].play();
            $('#h2subTitle').text("You could do a test drive in Grey Lynn, sounds good?");
        }, 39000);

        setTimeout(function () {
            $('#h2ClientAnswer').text("Geat!");
        }, 40500);

        setTimeout(function () {
            $('.your-location').hide();
            $('.carsLoading').show();
        }, 42000);

        setTimeout(function () {
            $('.carsLoading').hide();
            $('.your-location').hide();
            $('.test-confirmation').show();
        }, 44000);

        setTimeout(function () {
            $('#frame_101').hide();
            $('#frame_102').show();
            $('#frame_102')[0].play();
            $('#h2subTitle').text("Done, ");
        }, 45000);

        setTimeout(function () {
            $('#h2subTitle').text("Done, please scan the QR code we sent you");
        }, 47000);

        setTimeout(function () {
            $('#h2subTitle').text("I’ll be waiting for you at the place with some coffee.");
        }, 49000);

        setTimeout(function () {
            $('#h2subTitle').text("Ask for me");
        }, 51000);

        setTimeout(function () {
            $('#h2subTitle').text("my name is Fiachra.");
        }, 52000);
    }
</script>
